<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">
    <title>SRM Hostel</title>
    <link rel="stylesheet" href="css/hstl.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <img class="image" src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/01/srm-logo.svg.gzip" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container marketing">
            <!-- START THE FEATURETTES -->


            <h1 class="heading">Boys Hostel</h1>

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Paari (Non AC Non-Attached Washroom).
                    </h2>
                    <p class="lead content-para">Pari was one of the seven patron kings who were well known for
                        philanthropy. One day as Pari was travelling through a forest on his golden chariot; wanted to
                        quench his thirst and stopped near a stream. When he returned he found that a mullai plant (a
                        wild jasmine creeper) had entwined itself around one of the wheels of the chariot. To move the
                        chariot would mean to break its tendril.

                        Sometimes it just a spark that brings on enlightenment and to Pari it came at that moment.
                        Hence, he gave his golden chariot to the plant, and he walked back to his palace. Henceforth he
                        gave away all his wealth. Tamils are well known for their hospitality. Pari’s gesture to an
                        ordinary Jasmine plant is a nice example.</p>
                    <button type="button" onclick="location.href = '/booking';" class="btn btn-warning">Book Hostel</button>


                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/image-000-1-e1649296983669.jpg"
                        alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Oori (AC/Non AC Non-Attached Washroom).
                    </h2>
                    <p class="lead content-para">A man of courage is a man with good character deriving from deep-rooted
                        godliness. The value of a man is not his financial equities but it is his character. A man of
                        valor
                        teaches others by demonstration what magnanimity is like. Oori known for his valor was said to
                        have killed
                        a lion, bear, deer and a boar with a single arrow. Inspired by his defiance, the hostel was
                        named after
                        the great philanthropist, Valvil Oori. It was constructed in the year 2008 and can house a
                        maximum of 930
                        students.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>


                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/image-003-e1649296954676.jpg"
                        alt="">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Kaari (Non AC Non-Attached Washroom).
                    </h2>
                    <p class="lead content-para">Kaari was considered the most modest of kings and is well known for his
                        philanthropy. It is being said that nobody left empty-handed after visiting him. The visitor who
                        came on barefoot would usually return vaulted on a horse or an elephant of his choice. He called
                        himself not a king but a “rightful servant of his beloved people”. Impressed with his
                        credentials we named the hostel, Kaari to inspire the students of his benevolence.</p>
                    <a href="./booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/image-001-e1649296912958.jpg"
                        alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Adhiyaman (AC/Non AC Attached Washroom).
                    </h2>
                    <p class="lead content-para">Adhiyaman, known for his generosity in Tamil literature is said to have
                        donated a rare gooseberry, with the characteristic feature of giving long life to the great poet
                        Avvaiyar to promote literature. We accolade the gesture of the King and have a hostel campus
                        after his name.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/image-002-e1649296856588.jpg"
                        alt="">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Nelson Mandela (AC Attached Washroom).
                    </h2>
                    <p class="lead content-para">This is Men’s Hotel named after the legendary Nelson Mandela and
                        accommodates the NRI Students. Adjoining this hostel block are the other men’s hotels like
                        Paari, Kaari, Oori and Adhiyamaan.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2023/04/Nelson-Mandela-2-copy-1536x1429.jpg"
                        alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Manoranjitham (Non AC Non-Attached
                        Washroom).
                    </h2>
                    <p class="lead content-para">The Men’s hostel block Manjoranjitham is a 9-storied hostel with
                        facilities necessary for students to be absorbed in their student life activities.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/Building_Hostel_ManoRanjitha-Custom-1.jpeg"
                        alt="">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Mullai (Non AC Non-Attached Washroom).
                    </h2>
                    <p class="lead content-para">Men’s Hostel block Mullai is also known as D Block Hostel and it is 6
                        storied hostel.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2023/04/Mullai-Hostel-1-1536x1429.jpg"
                        alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Thamarai (Non AC Non-Attached Washroom).
                    </h2>
                    <p class="lead content-para">Thamarai is the Men’s Hostel which is a 6-storied hostel.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2023/04/Thamarai-Hostel-1-2048x1905.jpg"
                        alt="">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Malligai (Non AC Non-Attached Washroom).
                    </h2>
                    <p class="lead content-para">Malligai is named after one of the most common flowers and is a hostel
                        with 6 floors.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2023/04/Malligai-Hostel-1-1536x1429.jpg"
                        alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Sannasi A (AC/Non AC Attached).
                    </h2>
                    <p class="lead content-para">Sannasi A block hostels are among the better-known men’s hostel block.
                    </p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/sannasi-A.jpg" alt="">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Began (Non AC Attached/Non-Attached
                        Washroom).
                    </h2>
                    <p class="lead content-para">Began is 4-floored Men’s Hostel located in close proximity to some of
                        the campus’ most favorite hangout spots like Java Green that hosts the food court.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/Began.jpg"
                        alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Pierre Fauchard (Non AC Non-Attached
                        Washroom).
                    </h2>
                    <p class="lead content-para">Men’s Hostel Pierre Fauchard block is named after the renowned French
                        physician who is celebrated as being the “father of modern dentistry”.
                    </p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/Pierre-Fauchard-hostel-1.png"
                        alt="">

                </div>
            </div>


            <h1 class="heading">Girls Hostel</h1>

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Kopperundevi (M Block).
                    </h2>
                    <p class="lead content-para">Welcome to Kopperundevi (M-Block) hostel, also earlier known as Sister
                        Nivedita (M-Block), it is a fully furnished ‘Girls’ hostel. This residential facility offers
                        comfortable accommodation to more than 1800 girls every year. It has 24 X 7 CCTV coverage,
                        security guards surveillance, power backup and biometric attendance system and turnstile gate &
                        baggage scanner system which ensure the utmost security for girls. Other amenities like Wi-Fi,
                        Lifts, fully equipped gym, indoor games hall, jogging and walking tracks, fully air-conditioned
                        waiting halls, study hall, TV hall ensure the utmost comfort for the students. Supermarkets,
                        eatery shops, Beauty Parlour, Clothing shops, photocopier service and all the other shops
                        catering to the daily requirement of the students are also present inside the premises.
                        This block’s entrance is facing north and all the rooms are fully furnished with attached
                        bathrooms with cold and hot water facilities. In each room Study table, Dressing table, storage
                        lockers, are available on double sharing basis. Both A.C and Non A.C rooms are available for
                        allotment. From 1st floor to 10th floor & also in 15th floor both AC and Non-AC Rooms are
                        available. From 11th floor to 14th floor all the rooms are Non-AC.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>


                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2023/04/Kopperundevi-M-Block.jpg"
                        alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Senbagam Block.
                    </h2>
                    <p class="lead content-para">Senbagam girls Hostel has Ground plus 5 floors. This fully furnished
                        hostel provides a comfortable stay, with a safe and a conducive environment for the girl
                        students. For the safety of girls, it is equipped with 24 * 7 surveillance cameras, security
                        guards and biometric attendance. This hostel provides WiFi, power backup and purified water
                        facility. Students can spend their leisure time in the TV hall. Eatery shops, Photocopier
                        service are also available near the block.
                        Senbagam block is a north facing building, with a dining hall in the ground floor. Rooms are
                        furnished with a bed, wardrobe, study table, and chair. The rooms are spacious and are available
                        on triple sharing and six sharing basis. Common bathrooms with cold and hot water facility are
                        available. The block can house above 400 students.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>


                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/image-017-e1649297473200.jpg"
                        alt="">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">ESQ A Block.
                    </h2>
                    <p class="lead content-para">Welcome to ESQ-A block, a well furnished Girls hostel. This residential
                        facility offers a homely accommodation, like living in a flat with balconies. This block has 30
                        flats (G + 9) and 2 lifts. Medical clinic room is there very nearby. Each flat is available on
                        two, three and four sharing basis with a study hall. All the flats are Non AC and some of the
                        flats are provided with attached washrooms.

                        Block entrance is facing east and all rooms are provided with study tables and storage lockers.
                        Cold and hot water facilities, 24 x 7 Wi-fi facilities, indoor and outdoor games, jogging and
                        walking tracks are also available. Eatery shops, photocopier service are present near the
                        premises. It has security guards surveillance, power backup and biometric attendance system
                        which ensure the utmost security for girls.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/image-012-1-e1649297508320.jpg"
                        alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">ESQ B Block.
                    </h2>
                    <p class="lead content-para">Welcome to Engineering Staff Quarters B, also known as ESQ-B block, is
                        a well furnished Girls hostel. This residential facility offers a homely accommodation, like
                        living in a flat with balconies. This block has 40 flats (G + 9) and 2 lifts. Clinic room is
                        available to ensure the medical facilities for the students. Each flat is available on two and
                        three sharing basis with a study hall. All the flats are Non AC and some of the flats are
                        provided with attached washrooms.

                        Block entrance is facing east and all rooms are provided with study tables and storage lockers.
                        Cold and hot water facilities, 24 x 7 Wi-fi facilities, indoor and outdoor games, jogging and
                        walking tracks are also available. Eatery shops, photocopier service are also present near the
                        premises. It has security guards surveillance, power backup and biometric attendance system
                        which ensure the utmost security for girls.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2022/04/image-013-e1649297576470.jpg"
                        alt="">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Kalpana Chawla Hostel.
                    </h2>
                    <p class="lead content-para">Welcome to Kalpana Chawla hostel. It is a fully furnished Girls’
                        hostel, which has rooms from 2nd to 5th floor with a lift. Each floor has 25 AC rooms. This
                        residential facility offers a comfortable accommodation to more than 250 girls every year. It
                        has 24 X 7 CCTV coverage, security guards surveillance, power backup and biometric attendance
                        system.

                        Other amenities like Wi-Fi, indoor games, TV hall, study hall ensure the utmost comfort for the
                        students.

                        Supermarkets, eatery shops, photocopier service and all the other shops catering to the daily
                        requirement of the students are also present very near to the premises. This block’s entrance is
                        facing west and all the rooms are fully furnished with attached bathrooms with cold and hot
                        water facilities. In each room Study table, storage lockers, are available on double sharing and
                        triple sharing-basis.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2023/04/Kalpana-Chawla-Hostel-1-copy-scaled.jpg"
                        alt="">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 content-head">Meenakshi Hostel.
                    </h2>
                    <p class="lead content-para">Welcome to Meenakshi hostel. It is a fully furnished Girls’ hostel,
                        which has rooms from ground floor to fourth floor. Each floor has 20 to 30 non-AC rooms with
                        attached wash rooms which are available on triple sharing basis. This residential facility
                        offers a comfortable accommodation to more than 350 girls every year. It has 24 X 7 CCTV
                        coverage, security guards surveillance, power backup and biometric attendance system.

                        Other amenities like Wi-Fi, indoor games, Cloth Washing area, Gym Hall. TV hall, study hall and
                        mess hall ensure the utmost comfort for the students. Supermarkets, eatery shops, photocopier
                        service and all the other shops catering to the daily requirement of the students are also
                        present very near to the premises. This block’s entrance is facing east and all the rooms are
                        fully furnished with attached bathrooms with cold and hot water facilities. In each room Study
                        table, storage lockers, ceiling fan are available.</p>
                    <a href="/booking"><button type="button" class="btn btn-warning">Book Hostel</button></a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500"
                        src="https://d23qowwaqkh3fj.cloudfront.net/wp-content/uploads/2023/04/Meenakshi-Hostel-SRMIST.jpg"
                        alt="">

                </div>
            </div>

            <!-- /END THE FEATURETTES -->

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>